* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container-one{
    background-image:url("img/bg-original\ Cropped\ \(1\).png");
    height: 500px;
    background-attachment: fixed;
}
.header{
    height: 100px;
    display: flex;
    column-gap: 200px;
    align-items: center;
}
.header h1{
    font-size: 40px;
}

.nav{
  padding-left: 30px;
    background-color:whitesmoke;
}
.nav-menu{
    display: flex;
    list-style-type: none;
    column-gap: 30px;
}
.nav .nav-rest{
    color: black;
    text-decoration:none;
    font-size: 20px;
}
.dropbtn {
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .container2{
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
.container2-left{
  display: flex;
  width: 70%;
  align-items: center;
}
.container2-left h2 a{
  text-decoration: none;
  color: black;
}
.container2-left h2{
  background-color: rgb(241, 241, 0);
}
.container2-left h2:hover{
  background-color: rgb(224, 224, 0);
}

.container2-left h3 a{
  text-decoration: none;
  color: black;
}
.container2-left h3 a:hover{
  color: rgb(221, 0, 0);
}
.container2-right{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.container2-right h2 a{
  color: black;
  text-decoration: none;
}
.container2-right h2 a:hover{
  color: rgb(221, 0, 0);
}
.container3{
  padding-left: 30px;
}
.container3 h1{
  font-size: 75px;
}
.container3 h4{
  font-size: 50px;
}

.contact{
  position: fixed;
}
.contact a .fab fa-whatsapp{
 size: 7px;
}
summary {
  display: flex;
  cursor: pointer;
}
.collapsible-para{
  padding-top: 50px;
  padding-left: 30px;
  display: flex;
}
summary::-webkit-details-marker {
  display: none;
}
.trailer{
  padding-top: 40px;
}
.trailer ul{
  display: flex;
}
.trailer ul li{
  list-style-type: none;
}

.trailer ul li a{
  background-color:black;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.trailer ul li a:hover{
  background-color: rgb(221, 0, 0);
}


  


